/*CLASSES TO MANIPULATE DOM*/
.showOff {
    display: none;
}

h1 {
    text-align: center;
}


/*NAV MENU ==== Mobile*/
#mobile_img {
    width: 48px;
    transition-duration: 0.5s;
}

#mobile_img:hover {
    border: palevioletred 2px solid;
}