/* General stuff. */

body {
    background-color: #71ede9;
}

h1 {
    font-size: 30px;
    position: relative;
}



/*Header*/
header h1 {
    padding: 1%;
    color: #8edfff;
}

header p {
    color: #a0d7ff;
}

.jumbotron {
    background-image: url("../images/beautiful-blur-bright-326055.jpg");
}